body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif; /* Cambiado de Arial a Outfit */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background-color: white;
    padding: 16px;
    border-radius: 20px;
    text-align: center;
    max-width: 300px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    padding: 10px;
}

p {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    padding: 0 10px 10px 10px;
}